In [1]:
import pandas as pd
import numpy as np
import statsmodels as sm
import matplotlib.pyplot as plt
import math
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("cleanedCompleteGCP.csv", parse_dates=['Date'])

In [3]:
df.dtypes

Date                     datetime64[ns]
Days Since 2019-12-31             int64
CountryCode                      object
CountryName                      object
Region                           object
Confirmed                         int64
Deaths                            int64
Latitude                        float64
Longitude                       float64
dtype: object

In [4]:
df["area"] = df["CountryCode"] + df["CountryName"] + df["Region"]

In [5]:
df2 = pd.read_csv("cleanedCompleteGCP.csv")

In [6]:
df2.head()

   Time  Confirmed  Target  areaCode
0     0          0       0         1
1     0          0       0         2
2     0          0       0         6
3     0          0       0        10
4     0          0       0        20

In [7]:
df2['Time'] = df2['Time'] + 30

In [8]:
df2.head()

   Time  Confirmed  Target  areaCode
0    30          0       0         1
1    30          0       0         2
2    30          0       0         6
3    30          0       0        10
4    30          0       0        20

In [10]:
df2.to_csv('testGCP1Complete.csv')

In [11]:
from statsmodels.tsa.arima_model import ARIMA

In [12]:
df = pd.read_csv('cleanedUSAv2.csv')

In [31]:
dataframes = []
grouped = df.groupby(by='areaCode')

In [15]:
grouped

In [32]:
for g in grouped:
    dataframes.append(g[1])

In [33]:
dataframes[0]

       daysSince  Confirmed  Deaths  areaCode
9481          84          1       0         0
10838         85          4       0         0
12377         86          6       0         0
14046         87          6       0         0

In [35]:
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error

In [40]:
d2 = dataframes[0]

In [41]:
d2

       daysSince  Confirmed
9481          84          1
10838         85          4
12377         86          6
14046         87          6

In [47]:
for d in dataframes:
    d2 = d
#     d2.drop(['Deaths','areaCode'], axis=1, inplace=True)
    X = d2.Confirmed
    size = int(len(X) * 0.66)
    train, test = X[0:size], X[size:len(X)]
    history = [x for x in train]
    predictions = list()
    for t in range(len(test)):
        model = ARIMA(history, order=(3,1,1))
        model_fit = model.fit(disp=0)
        output = model_fit.forecast()
        yhat = output[0]
        predictions.append(yhat)
        obs = test[t]
        history.append(obs)
        print('predicted=%f, expected=%f' % (yhat, obs))
    error = mean_squared_error(test, predictions)
    print('Test MSE: %.3f' % error)

ValueError: Insufficient degrees of freedom to estimate